.sidebar {
  width: 550px;
  height: 90vh;
  border-right: 1px solid #f5f5f5;

  .sidebar-header {
    border-bottom: 1px solid #f5f5f5;
    padding: 10px;
  }

  .sidebar-content {
    padding: 10px;
    height: 90%;
    overflow-y: auto;
  }
}
