@import "components/sidebar.scss";
@import "components/adDetailspage.scss";
body,
html {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  margin: 0;
  height: 100%;
}
.main-structure {
  position: absolute;
  width: 100%;
  height: calc(100% - 96px);
  flex-direction: row;
  top: 96px;
  left: 0;
}
