@import "components/sidebar.scss";
@import "components/header.scss";
body,
html {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  margin: 0;
}

.main-structure {
  display: flex;
  flex-direction: row;
}
